.student-card
{
    margin-bottom: 10px;
    min-width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-card__img
{
    width: 250px;
    height: 250px;
    padding: 10px;
}

.student-card__img img
{
    width: 100%;
    border-radius: 10px;
}

.student-card__data
{
    width: 90%;
    text-align: center;
}

@media (min-width: 992px)
{
    .student-card
    {
        width: 25%;
        float: left;
        margin-right: 10px;
    }
}

@media (min-width: 780px)
{
    .student-card
    {
        width: 30%;
        float: left;
        margin-right: 10px;
    }
}

.student-card-data__links
{
    text-decoration: none;
}

.student-card-data__links:hover
{
    color: #f00;
}

.student-card-data__task-span,
.student-card-data__links
{
    margin-left: 5px;
    color: #666;
}

.student-card-data_bold
{
    font-weight: 800;
}
