.students-table
{
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 250px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.students-table table
{
    width: 100%;
    border-collapse: collapse;
}

@media (min-width: 1045px)
{
    .students-table
    {
        width: 70%;
        float: left;
    }
}

@media (min-width: 880px) and (max-width: 1044px)
{
    .students-table
    {
        width: 65%;
        float: left;
    }
}

@media (min-width: 850px) and (max-width: 879px)
{
    .students-table
    {
        width: 60%;
        float: left;
    }
}

@media (max-width: 480px)
{
    .students-table th:nth-child(2)
    {
        display: none;
    }

    .student-line__avatar
    {
        width: 30px;
    }
}

.students-table__th
{
    padding: 10px;
}

.students-table__clear_visible
{
    display: inline-block;
}

.students-table__clear_invisible
{
    display: none;
}

.students-table__clear
{
    margin-left: 3px;
}
