.student-line:nth-child(odd)
{
    background-color: #f9f9f9;
}

.student-line:hover
{
    background-color: #eee;
}

.student-line td
{
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.student-line__links
{
    text-decoration: none;
    color: #000;
}

.student-line__links:hover
{
    color: #f00;
}

.student-line__avatar
{
    opacity: .6;
}
.student-line__avatar:hover
{
    opacity: 1;
}
