.btn-default
{
    background-image: none !important;
    outline: none;
}

.problem-modal
{
    display: block;
}

.tooltip
{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;

    padding: 5px;
    background-color: #666;
    color: #fff;
    max-width: 110px;
    max-height: 50px;

    border-right: 5px;
    border-radius: 3px;

    font-size: 9px !important;
}

.tooltip-data
{
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 400px)
{
    .problem-modal
    {
        display: none !important;
    }
}
