@import "../../blocks/header/header.css";
@import "../../blocks/studentLine/studentLine.css";
@import "../../blocks/studentCard/studentCard.css";
@import "../../blocks/studentTable/studentTable.css";
@import "../../blocks/search/search.css";
@import "../../blocks/problemModal/problemModal.css";
@import "../../blocks/axis/axis.css";
@import "../../blocks/statsLine/statsLine.css";
@import url(https://fonts.googleapis.com/css?family=Roboto);

#root
{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

@media (max-width: 480px)
{
    #root
    {
        font-size: 10px;
    }
}

