.search
{
    margin-bottom: 10px;
    min-width: 420px;
    width: 99%;
}

@media (min-width: 960px)
{
    .search
    {
        width: 96%;
    }
}

.search__input
{
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    padding: 6px 15px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.search__input:focus
{
    outline: none;
}

.search__result
{
    color: #f00;
}

.search__result_visible
{
    display: block;
}

.search__result_invisible
{
    display: none;
}
